
<div>
    <h1>Layout Horizontal e Vertical</h1>
    <div fxLayout="row" style="background: lightblue;">
        <div style="padding: 10px;">Item 1</div>
        <div style="padding: 10px;">Item 2</div>
    </div>

    <div fxLayout="column" style="background: lightgreen;">
        <div style="padding: 10px;">Item A</div>
        <div style="padding: 10px;">Item B</div>
    </div>
    <h1>Alinhamento e Justificação</h1>
    <div fxLayout="row" fxLayoutAlign="space-around center" style="height: 100px; background: lightcoral;">
        <div>Item 1</div>
        <div>Item 2</div>
    </div>
    <h1> Grids com Flex-Layout </h1>
    <div fxLayout="row wrap">
        <div fxFlex="25%" *ngFor="let item of items">
          {{ item }}
        </div>
      </div>
      
</div>